.contenido.standardpage {
  padding: 40px 8%;
  min-height: 450px;

  h2 {
    @include proxima-semibold;
    font-size: 24px;
    line-height: 34px;
    color: $grey25;
    margin-bottom: 20px;
  }

  p {
    @include proxima-regular;
    font-size: 14px;
    color: $grey25;
  }

  > *:first-child {
    margin-top: 0;
  }

  .simplebox {
    margin: 20px 0;
    padding: 15px;
  }

  .whitebox {
    display: block;
    margin: 20px 0;
    padding: 5.25%;
    color: $grey25;
    background-color: #ffffff;
    border: 1px solid $border-color;
    @include borderRadius(4px);

    &.fullwidth {
      margin: 20px -9% 0 -9%;
      padding: 20px 10px;
      @include borderRadius(0);

      .fleks-col {
        font-size: 14px;
        padding: 0 10px;

        .btn + .btn {
          margin-left: 6px !important;
        }
      }
    }

    > h2,
    > h3 {
      margin-top: 0;
    }

    .accordion label {
      overflow: hidden;
      padding: 4px 0;
      cursor: pointer;

      .icon {
        float: right;
        margin-top: .6ex;
      }

      &.accordion-header {
        @include proxima-regular;
        font-size: 18px;
      }
    }

    .accordion .accordion-body {
      margin: 0;
      padding: 0;

      .wrapper {
        margin: 15px 0 0 0;
        padding: 20px 0 10px 0;
        border-top: 1px solid $border-color;
      }

      h4 {
        @include proxima-semibold;
        font-size: 14px;
        color: $grey25;
      }
    }

    .accordion input:checked~.accordion-body,
    .accordion[open] .accordion-body {
      max-height: 1000rem;
    }

    h2 {
      overflow: hidden;
      padding: 4px 0;
      @include proxima-regular;
      font-size: 18px;
      margin-bottom: 10px;

      .btn-link {
        float: right;
        padding-top: 10px;

        &::before {
          background-position: 0 0;
        }
      }

      .fa {
        margin-left: .3ex;
        cursor: pointer;
        position: relative;
        top: .2ex;
        color: #9f9f9f;
      }
    }

    .wb-body {
      padding: 20px 0 0 0;
      border-top: 1px solid $border-color;

      *:last-child {
        margin-bottom: 0;
      }
    }

    .tablo {
      border: 1px solid $border-color;
      margin: 0;
      padding: 0;
      @include borderRadius(4px);
      @include group;
    }
    .tablo.picker {

      .rowbox {
        padding: 10px;
        border-bottom: 1px solid $border-color;

        &.header-group {
          background-color: $bg-grey;

          .form-label {
            font-size: 12px;
          }

          span {
            cursor: pointer;

             .fa {
               font-size: 125%;
               margin-left: .25ex;
               position: relative;
               top: 2px;
             }
          }
        }

        &:last-of-type {
          border-bottom: none;
        }

        @include proxima-regular;
        font-size: 14px;
        color: $grey25;
        @include group;

        &.-warning {
          padding: 10px;
          text-align: right;

          .btn {
            margin: 0 4px;

            &.btn-link {
              padding-top: 0;
              margin-left: 12px;
            }
          }
          
          @media only screen and (max-width: 1100px) {
            var {
              display: inline-block;
              /*max-width: 150px;*/
            }
          }
        }
        &.-inred {
          background-color: #f6e4e7;

          .btn-link {
            color: $red;
            border-bottom-color: $red;
          }
        }

        .form-radio {
          float: left;
          width: 20%;
        }
        .form-label {
          float: right;
          width: 80%;
        }

        &.-colgroup {
          padding: 0 10px;

          > .columns > .column {
            padding-top: 20px;
            padding-bottom: 14px;
          }

          h4 {
            @include proxima-regular;
            font-size: 18px;
            line-height: 1.55;
            color: $blue;
          }

          .-pcol {
            font-size: 12px;
            margin-top: 20px;

            & + .-pcol {
              margin-top: 0;
            }

            dfn {
              @include group;
            }
          }
          .column.one {
            border-right: 1px solid $border-color;
            font-size: 12px;

            .icon-text {
              font-size: 14px;
            }
          }
          .column.three {
            font-size: 14px;
            opacity: .8;

            span {
              font-size: 12px;
              display: block;
            }
          }
        }
      }

      &.five-cols {

        .header-group {

          .form-label {
            color: $grey !important;
          }
        }

        .form-group .header-group .form-checkbox .form-icon {
          top: .6ex;
        }
        .flexy {
          display: flex;
          align-items: flex-start;
          line-height: 1.3;
          padding-right: 6px;

          .form-checkbox {
            width: 14%;

            dfn {
              margin-left: -20px;
            }
          }
          .form-label {
            line-height: 1.3;
            color: $grey25;
            @include proxima-regular;

            &.two {
              width: 23%;
            }
            &.three {
              width: 16%;
              text-align: center;
              color: $grey;
            }
            &.four {
              width: 18%;
            }
            &.five {
              width: 23%;
            }
            &.six {
              width: 6%;
              text-align: right;

              img {
                margin: 2px 0 0 0;
              }
            }
          }

        }
        &.-four {

          .rowbox {
            padding: 0;
            position: relative;
            align-items: stretch;
          }

          .form-checkbox {
            margin: 10px 0 10px 10px;
          }

          .form-label {
            padding: 10px;

            &.two {
              width: 32%;
            }
            &.three {
              width: 22%;
              text-align: right;
              padding-right: 10px;
              color: $text-color;
            }
            &.four {
              width: 34%;
              text-align: center;
              padding: 10px;
              margin: 0 -3px 0 0;
              background-color: #f4f4f4;

              &.bg-light {
                /*background-color: #fbfbfb;*/
                opacity: .4;
              }
            }
          }
        }
      }

      .rowbox label {

        span,
        dfn {
          display: block;
          height: auto;
        }
        dfn {
          padding-top: 6px;
          opacity: .4;
        }
      }

      .fa-exchange {
        transform: rotate(90deg);
        font-size: 80% !important;
        top: 0 !important;
      }
    }

    & + h3 {
      margin-top: 40px;
    }
  }

  .subgroup,
  .simplebox.subgroup {
    margin-top: 0;
    padding-left: 1.4em;
  }
}
.herobox {
  position: relative;
  top: -1px;
  display: flex;
  align-items: center;
  height: 190px;
  margin: 0;
  padding: 0;
  background-size: cover;

  &.hb-sform {
    background: url("#{$img}/lc-bg-5.png") no-repeat 50% 50%;
  }
  &.hb-responder {
    background: url("#{$img}/lc-bg-12.png") no-repeat 50% 50%;
  }
  &.hb-hlr {
    background: url("#{$img}/lc-bg-2.png") no-repeat 50% 50%;
  }
  &.hb-inbox {
    background: url("#{$img}/lc-bg-6.png") no-repeat 50% 50%;
  }
  &.hb-sms {
    background: url("#{$img}/lc-bg-3.png") no-repeat 50% 50%;
  }
  &.hb-viber {
    background: url("#{$img}/lc-bg-4.png") no-repeat 50% 50%;
  }
  &.hb-profile {
    background: url("#{$img}/lc-bg-7.png") no-repeat 50% 50%;
  }

  h1 {
    margin: 0;
    padding: 0 8%;
    line-height: 1.1;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
.icon-text {
  display: block;

  img {
    display: block;
    margin: 0 auto 4px auto;
  }

  &.-sms {
    color: $blue !important;
  }
  &.-viber {
    color: $violet !important;
  }
}
.accordion input:checked ~ .accordion-header .icon,
.accordion[open] .accordion-header .icon {
  transform: rotate(180deg);
}