/* ==== Misc ==== */
p:last-child,
p:last-child .btn {
  margin-bottom: 0;
}
.no {
  display: none !important;
}
.nomt {
  margin-top: 0 !important;
}
.nomb {
  margin-bottom: 0 !important;
}
.nopb {
  padding-bottom: 0 !important;
}
.mt20 {
  margin-top: 20px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pl1em  {
  padding-left: 1em;
}
.mark,
mark {
  padding: 2px;
  background-color: #e5f5fc;
}
::-moz-selection {
  background: #afd3e3;
}
::selection {
  background: #afd3e3;
}
*:focus {
  outline: none !important;
  outline-offset: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  margin: 0;
  padding: 0;
}
/* Placeholder text color */
::-webkit-input-placeholder {
  color: #cccccc;
}
::-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}
:-moz-placeholder {
  color: #cccccc;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #cccccc;
}
/* ==== Clearfix ==== */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

.form-select,
.form-select:not([multiple]):not([size]) {
  background: url("../img/angle-down-16x10.png") no-repeat 95% 50%;
  position: relative;
  font-size: 14px;
  line-height: 1;
  @include proxima-regular;
  height: auto;
  padding: 13px 22px 13px 10px;
  margin: 5px 0;
  @include borderRadius(4px);
  width: auto;
  min-width: 225px;
  display: block;
  cursor: pointer;
  border-color: $border-color;
}